@import "tailwindcss";

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --background: #001219;
  --foreground: oklch(96.8% 0.007 247.896);

  --primary: oklch(96.8% 0.007 247.896);
  --primary-foreground: oklch(14.2% 0.005 247.896);

  --secondary: oklch(71.4% 0.203 305.504);
  --secondary-foreground: oklch(49.6% 0.265 301.924);

  --accent: oklch(92.5% 0.084 155.995);
  --accent-foreground: oklch(97.3% 0.071 103.193);

  --radius: 0.5rem;
}